
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


body{
    font-family: 'Poppins', sans-serif;
    
    
}

header{
    display:flex;
    height: 10vh;
    width: 90%;
    margin:auto;
    align-items: center;
    background-color: lightgrey;
}
.logo-container{
    
    flex:1;

}
.logo{
    font-weight: 400;
    margin: 5px;
}
.nav-links{
    justify-content: space-around;
    list-style:none;

    
}
.nav-link{
    color:#5f5f79;
    font-size:18px;
    text-decoration:none;
}
nav{

flex:2;
}

.logo-container,.nav-links{
display :flex;
}

.introduction{
    display:flex;
    width: 90%;
    margin:auto;
    background-color: khaki;
    height: 950px;
    margin-top: 200px;

}
.cover{

    display:inline;
    height: 70vh;
    margin-left: 180px;
    margin-top:200px;
    
}

footer{
    display:flex;
    width: 90%;
    margin:auto;
    height: 15vh;
    background-color: lightgrey;
    margin-top: 200px ;
    margin-bottom: 20px; 
    text-align: center;
}
#p{
    margin-top: 50px;
    margin-left:80px;
    font-size: 35px;
    color: rgb(71, 71, 71);
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.button{
    margin-top:10px;
    margin-left: 170px;
}
.input{
    margin-top:100px;
    margin-left:100px;
}
#h1{
    
    text-align: center;
}
section{
    width: 90%;
    margin:auto;
    text-align: center;
    margin-top:300px;
    font-family: 'Inconsolata', monospace;
    background-color: khaki;
}